header {
  background-color: #6095cbff;
  color: white;
  padding: 1.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul {
  list-style: none;
  padding: 0;

  margin: 0;
  display: flex;
  gap: 1rem;
}
header nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
header nav a:hover,
header nav a.active {
  /* Estilo para el enlace activo */
  background-color: rgba(255, 255, 255, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
.icon :hover {
  cursor: pointer;
}
.icon-container {
  display: flex;
}
