.sections {
  text-align: center;
}

.title {
  margin-bottom: 10px;
  color: #6095cbff;
}

.subtitle {
  text-align: center;
  color: #778899;
}

.sections-container {
  display: flex;

  flex-wrap: wrap;
  gap: 16px;
  margin-top: 10px;
}

.category {
  margin-top: 10px;
  height: 200px;
  width: 150px;
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.category:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
  transition: 0.3s ease;
}
.category-text {
  color: #6095cbff;
}
