button {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: #6095cbff;
  color: white;
}

button.secondary {
  background-color: #e0e0e0;
  color: #333;
}

button:disabled {
  opacity: 0.5;
  background-color: #778899;
  cursor: not-allowed;
}
