.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .cart-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.item-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  background: #f5f5f5;
  min-width: 300px;
  wrap: wrap;
}

.item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  background-color: grey;
  min-width: 100px;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  color: #6095cbff;
}

// Details Section
.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-details-remove {
  color: red;
  font-size: 14px;
}
.item-details-remove:hover {
  cursor: pointer;
  color: darkred;
}
.item-details-remove i {
  margin-right: 4px;
  font-size: 12px;
}

// Quantity Section

.item-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-quantity-controls {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.item-quantity-controls:hover {
  background-color: #d3d3d3;
}

.item-quantity-number {
  font-size: 14px;
  padding: 0 10px;
}

// TotalSection

.total-section {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  display: flex; */
  flex-direction: column;
  gap: 12px;
  background-color: red;
}

.total-section__price {
  font-size: 20px;
  font-weight: bold;
}
.total-section__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.total-section__button {
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #06a135ff;
  width: 200px;
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.total-section__button:hover {
  background-color: #057a2dff;
}
