.item-container {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 25px;
  background: #f5f5f5;
}

.item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  background-color: grey;
}

.item-title {
  font-size: 18px;
  font-weight: bold;
  color: #6095cbff;
}

// Details Section
.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-details-remove {
  color: red;
  font-size: 14px;
}
.item-details-remove:hover {
  cursor: pointer;
}
.item-details-remove i {
  margin-right: 4px;
  font-size: 12px;
}

// Quantity Section

.item-quantity-controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-quantity-controls {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.item-quantity-controls:hover {
  background-color: #d3d3d3;
}

.item-quantity-number {
  font-size: 14px;
}
