.search-input {
  border: 1px solid #e0e0e0;
  border-right: none;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: white;
  transition: box-shadow 0.3s ease;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 50%;
}

.search-btn {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-btn:hover {
  background: #6095cbff;
  cursor: pointer;
  color: white;
}
